.conten-workorder .col-content-card{
    height: 100vh;
}

.conten-workorder .col-content-card .list-card{
    overflow: scroll;
}

.conten-workorder .col-content-card .row-nav{
    width: 100%;
}

.conten-workorder .col-content-card .row-nav .link{
    text-decoration: none;
    color: #d81d1d;
}

.card-body{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #10E57A;
    opacity: 1;
    width: 80%;
    height: 11.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.title{
    font-size: 24px;
    letter-spacing: 0.14px;
    color: #282751;
    opacity: 1;
}

.nombre{
    font-size: 21px;
    letter-spacing: 0.13px;
    color: #282751;
    opacity: 0.72;
}

.fecha{
    font-size: 21px;
    letter-spacing: 0.13px;
    color: #282751;
    opacity: 0.41;
}

.numeroOrder{
    letter-spacing: 0.11px;
    color: #282751;
    opacity: 1;
}