.content-workorder .col-content{
    height: 100vh;
}

#no-scroll1::-webkit-scrollbar {
    width: auto;
}
#no-scroll1::-webkit-scrollbar-track, #no-scroll1::-webkit-scrollbar-thumb {
    background: transparent;
}

.content-workorder .col-content .row-nav .buttonGroup{
    margin-top: 2rem;
    margin-left: 13rem;
    width: 50%;
}

.content-workorder .col-content .row-nav .buttonGroup .buttonTable{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    width: 50%;
    background-color: transparent;
    color: black;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    font-weight: 600;
    opacity: 0.5;
}

.content-workorder .col-content .row-nav .buttonGroup .buttonTable:hover{
    opacity: 1;
}

