.App {
  text-align: center;
}

@font-face {
  font-family: SK-MODERNIST-BOLD;
  src: url(./assets/fonts/SK-MODERNIST-BOLD.OTF);

  font-family: SK-MODERNIST-MONO;
  src: url(./assets/fonts/SK-MODERNIST-MONO.OTF);

  font-family: SK-MODERNIST-REGULAR;
  src: url(./assets/fonts/SK-MODERNIST-REGULAR.OTF);

  font-family: NunitoSans-Bold;
  src: url(./assets/fonts/NunitoSans-Bold.ttf);

  font-family: NunitoSans-Regular;
  src: url(./assets/fonts/NunitoSans-Regular.ttf);
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
